/* Estilos añadidos para ajustar los margenes y demas, asi como para añadir un titulo y hacerlo mas difuminado. Estilos como los del ejemplo hecho en clase */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    height: inherit;
}

h1{
    font-size: 3rem;
    letter-spacing: -1px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: transparent;
    text-shadow: 0 0 2px white;
    padding: 20px;
    opacity: 0.5;
}